.newsletter{
    background-color: var(--clr-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.newsletter>.container{
    /* background-color: var(--clr-black-900); */
    width: 70%;
    padding: 2rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    z-index: 999;
}
.newsletter>.container::before{
   position: absolute;
   width: 100%;
   height: 100%;
   content: '';
   background-color: var(--clr-black-900);
   z-index: -1;
   filter: blur(1.5px);
   -webkit-filter: blur(1.5px);
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

.newsletter>.container>.section-header>h3{
width: 75%;
margin-inline:  auto;
padding-block: .2em 0;
}

.newsletter-form{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.newsletter-form input[type="email"]{
    border: 0;
    min-height: 60px;
    border-radius:var(--br-large);
    -webkit-border-radius:var(--br-large);
    -moz-border-radius:var(--br-large);
    -ms-border-radius:var(--br-large);
    -o-border-radius:var(--br-large);
    min-width: 300px;
    color: #ffe2c0;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    background-color: var(--clr-primary);
    padding-left: 28px;
}

@media (max-width:600px) {
    .newsletter{
   padding: 0;
    }
    .newsletter>.container{
       padding-top: 0;
        width: 85%;
        padding-bottom: 1.5em;
      
        
    }
    .newsletter-form{
        gap: 1rem;
    }
    .newsletter-form input[type="submit"]{
        height: 45px;
        min-width: 280px;
        
    }
    .newsletter-form input[type="email"]{
        min-height: 45px;
        text-align: center;
        min-width: 280px;
        
    }
}