:root{
    /* web fonts  */
    --ff-primary:'Poppins', sans-serif;
    --ff-secondary:'Forum', cursive;
    /* colors  */
    --clr-green-accent:#08404F;
    --clr-green-accent-100:#16C2C2;
    --clr-red-accent:#B90D38;
    --clr-red-accent-900:#432539;

    --clr-secondary:#FFE2C0;
    --clr-secondary-100:rgba(255, 226, 192,0.6);
    --clr-primary:#131f30;
    --clr-black:#282828;
    --clr-white:#ffff;
    /* gradient clr */
    --gradient-primary: (linear-gradient(360deg,var(--clr-red-accent),var(--clr-red-accent-900)));
    /* font sizes  */
    --fs-h1:6rem;
    --fs-h2:98px;
    --fs-h3:4.375rem;
    --fs-h4:3.125rem;
    --fs-h5:2.185rem;
    --fs-h6:0.935rem;
    --fs-p:1rem;
    /* font weights  */
    --fw-regular:300;
    --fw-regular-400:400;
    --fw-medium:500;
    --fw-bold:700;
    --fw-black:900;

    /* transition  */
    --br-regular:1.5rem;
    --br-large:5rem;
    

}

@media (max-width:600px) {
    :root{
         /* font sizes  */
    --fs-h1:6rem;
    --fs-h2:5.125rem;
    --fs-h3:4.375rem;
    --fs-h4:3.125rem;
    --fs-h5:2.185rem;
    --fs-h6:0.700rem;
    --fs-p:1rem;
    }
}


/* custom properties  */

.container{
    width: 90%;
    margin-inline: auto;
}

.primary-title{
    font-size: var(--fs-h1);
    text-align: center;
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    line-height: 88%;
    font-weight: var(--fw-regular-400);
    width: 70%;
    text-align: center;
}

.secondary-title{
    font-size: var(--fs-h2);
    font-weight: var(--fw-regular-400);
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    line-height: 100%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    gap:1rem ;
}

.card{
    width: 30%;
}
.card-title-large{
    font-size: var(--fs-h4);
    font-family: var(--ff-secondary);
}
.card-title-small{
    font-size: var(--fs-h5);
    font-family: var(--ff-secondary);
}

.button-primary{
    background-color: var(--clr-red-accent);
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    height: 60px;
    padding: 0;
    border-radius:var(--br-large) ;
    -webkit-border-radius:var(--br-large) ;
    -moz-border-radius:var(--br-large) ;
    -ms-border-radius:var(--br-large) ;
    -o-border-radius:var(--br-large) ;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    width: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-secondary);
    transition:0.3s ease-in ;
    -webkit-transition:0.3s ease-in ;
    -moz-transition:0.3s ease-in ;
    -ms-transition:0.3s ease-in ;
    -o-transition:0.3s ease-in ;
}
.button-primary:hover{
    background-color: transparent;
    border: 1px solid var(--clr-secondary);
}
.button-secondary{
    background-color: transparent;
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    min-height: 60px;
    padding: 0;
    border-radius:var(--br-large) ;
    -webkit-border-radius:var(--br-large) ;
    -moz-border-radius:var(--br-large) ;
    -ms-border-radius:var(--br-large) ;
    -o-border-radius:var(--br-large) ;
    text-transform: uppercase;
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary-100);
    min-width: 200px; 
    cursor: pointer;  
    z-index: 1;    
}

.section-title{
    font-size: var(--fs-h6);
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
    position: relative;
}