:root{
    /* web fonts  */
    --ff-primary:'Poppins', sans-serif;
    --ff-secondary:'Forum', sans-serif;
    /* colors  */
    --clr-green-accent:#08404F;
    --clr-green-accent-100:#16C2C2;
    --clr-red-accent:#B90D38;
    --clr-red-accent-900:#432539;

    --clr-secondary:#E7B377;
    --clr-secondary-100:rgba(255, 226, 192,0.6);
    --clr-primary:#131f30;
    --clr-primary-100:#172536;
    --clr-black:#282828;
    --clr-black-900:#0f1a28;
    --clr-white:#ffff;
    /* gradient clr */
    --gradient-primary: linear-gradient(70deg,hsl(193, 82%, 17%),hwb(345 15% 67%));
    --gradient-secondary: linear-gradient(70deg,hsl(193, 82%, 17%),#131f30);
    /* font sizes  */
    --fs-h1:7.5rem;
    --fs-h2:98px;
    --fs-h3:4.375rem;
    --fs-h4:3.125rem;
    --fs-h5:2.185rem;
    --fs-h6-100:1.35rem;
    --fs-h6-200:1.125rem;

    --fs-h6:0.935rem;
    --fs-p:1rem;
    /* font weights  */
    --fw-regular:300;
    --fw-regular-400:400;
    --fw-medium:500;
    --fw-bold:700;
    --fw-black:900;

    /* transition  */
    --br-regular:1.5rem;
    --br-large:5rem;
    

}

@media (max-width:600px) {
    :root{
         /* font sizes  */
    --fs-h1:2.815rem;
    --fs-p:1.115rem;
    --fs-h5:1.4rem;
    --fs-h3: 3rem;
    --fs-h4:2rem;
   
    }
}


/* custom properties  */

.container{
    width: 90%;
    margin-inline: auto;
}

.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.primary-title{
    font-size: var(--fs-h1);
    text-align: center;
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    line-height: 88%;
    font-weight: var(--fw-medium);
    width: 70%;
    text-align: center;
}

.secondary-title{
    font-size: var(--fs-h2);
    font-weight: var(--fw-regular-400);
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    line-height: 100%;
}

.hero-subtitle{
    font-size: 24px;
    color: var(--clr-secondary);
    text-align: center;
    width: 60%;
    margin-inline: auto;
    z-index: 1;
    line-height: 135%;

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    gap:1rem ;
}

.card{
    width: 32%;
}
.card-title-large{
    font-size: var(--fs-h4);
    font-family: var(--ff-secondary);
}
.card-title-small{
    font-size: var(--fs-h5);
    font-family: var(--ff-secondary);
}

.button-primary{
    background-color: var(--clr-red-accent);
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    height: 60px;
    padding: 0;
    border-radius:var(--br-large) ;
    -webkit-border-radius:var(--br-large) ;
    -moz-border-radius:var(--br-large) ;
    -ms-border-radius:var(--br-large) ;
    -o-border-radius:var(--br-large) ;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    width: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-secondary);
    transition:0.3s ease-in ;
    -webkit-transition:0.3s ease-in ;
    -moz-transition:0.3s ease-in ;
    -ms-transition:0.3s ease-in ;
    -o-transition:0.3s ease-in ;
    border: 0;
}
.button-primary:hover{
    background-color: var(--clr-secondary);
    color:  var(--clr-black);
}
.button-secondary{
    background-color: transparent;
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    min-height: 60px;
    padding: 0;
    border-radius:var(--br-large) ;
    -webkit-border-radius:var(--br-large) ;
    -moz-border-radius:var(--br-large) ;
    -ms-border-radius:var(--br-large) ;
    -o-border-radius:var(--br-large) ;
    text-transform: uppercase;
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary-100);
    min-width: 200px; 
    cursor: pointer;  
    z-index: 1;    
}

.section-title{
    font-size: var(--fs-h6);
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
    position: relative;
    
}
.newsletter-title{
    font-size: var(--fs-h3);
    font-weight: var(--fw-regular-400);
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    line-height: 100%;
}

.section-line{
    width: 15px;
    height: 15px;
    border: 0.2px solid var(--clr-secondary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.4;
    margin: 2em auto;
    position: relative;
}

.section-line::after{
    position: absolute;
    content: '';
    width: 30vw;
    height: 1px;
    background-color: var(--clr-secondary);
    top: 50%;
    left: 20px;
}
.section-line::before{
    position: absolute;
    content: '';
    width: 30vw;
    height: 1px;
    background-color: var(--clr-secondary);
    top: 50%;
    right: 20px;
}


@media (max-width:600px) {
    .secondary-title{
        font-size: var(--fs-h5);
        font-weight: var(--fw-regular-400);
        font-family: var(--ff-secondary);
        color: var(--clr-secondary);
        line-height: 100%;
    }

    .newsletter-title{
        font-size: var(--fs-h5);
        font-weight: var(--fw-regular-400);
        font-family: var(--ff-secondary);
        color: var(--clr-secondary);
        line-height: 100%;
    }
    
    
}