.kitchen{
    background-color: var(--clr-primary);
    position: relative;
    min-height: 125vh;
    overflow: hidden;
   
}
.kitchen-container{
    padding-block: 2em;
}

.kitchen-info{
    width: 75%;

    margin-inline: auto;
   
    padding: 1rem;
  
}

.kitchen-info>.secondary-title{
   
    line-height: 100%;


}
.kitchen-images{
  
display: flex;
position: relative;
justify-content: space-between;



}
.kitchen-img-large{
   width: 35%;

 position: relative;
 min-height: 50vh;


}
.kitchen-img-large img{
    object-fit: cover;
    width: 100%;
    position: absolute;
    animation: Kitchen 3s ease-in-out infinite;
    -webkit-animation: Kitchen 3s ease-in-out infinite;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    left: 40px;
    isolation: isolate;
}
@keyframes Kitchen {
    0%, 100% {
      top: -0%;
    }
    50% {
      top: 5%;
    }
  }

.kitchen-img-mini{
  position: relative;
  width: 30%;
 min-height: 50vh;
 
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 align-items: flex-end;
 
}
.kitchen-img-mini>img{
  width: 100%;
  height: auto;
  object-fit: cover;
  scale: 1;
  display: block;
  border-radius:.5rem ;
  -webkit-border-radius:.5rem ;
  -moz-border-radius:.5rem ;
  -ms-border-radius:.5rem ;
  -o-border-radius:.5rem ;
}

.kitchen-img-info{
    width: 35%;
padding-left: 2em;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
gap: 1em;

}

.kitchen-subtitle{
    color: var(--clr-secondary-100);
}

@media (max-width:600px) {
  .kitchen-info{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .kitchen-images{
   
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;

  }
  .kitchen-img-large{
    display: none;
  }
  .kitchen-img-mini{
    width: 95%;
    margin-inline: auto;
  }
  .kitchen-img-info{
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kitchen-button{
    height: 45px;
  }
}